@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

* {
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

textarea,
.view {
  width: 50%;
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  background: #333;
  color: #fff;
  font-family: sans-serif;
  overflow: auto;
  padding: 10px;
}
